#home-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}

#home-container .business-type {
    height: 200px;
    width: 300px;
    cursor: pointer;
    border: 1px solid #333;
    display: flex;
    justify-content: center;
    align-items: center;
}
