.btn-add-favorite {
    cursor: pointer;
    margin-left: 12px;
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 6px;
    display: inline-block;
    transition: background 500ms ease;
}

.btn-add-favorite:hover {
    background: #efefef;
}
